################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TiposDeDatos1/.vs/TiposDeDatos1/v16/Browse.VC.opendb
/.vs/VSWorkspaceState.json
